.card {
  @apply relative overflow-hidden shadow mt-6;
}

.cdata .mt-0 {
  margin-top: 0;
}

.cdata > table.table-gearlist {
  @apply text-black;

  & th, & td {
    @apply p-05;
    border-top-width: 0;
  }

  & thead th {
    border-bottom-width: 0;
  }

  & th.text-right {
    text-align: right;
  }

  & th.border-t, & td.border-t {
    border-top-width: 1px;
  }

  & thead th.border-b {
    border-bottom-width: 1px;
  }

}

@screen sm {
  .card {
    flex: 0 1 calc(33% - 1em);
    @apply rounded shadow-lg;
  }

  .cdata > table.table-gearlist {
    @apply text-sm;
  }
}
