.card {
  @apply relative overflow-hidden shadow mt-6;
}

.a-button-shop {
    background: #ed9220;
    border-color: #ca7c1b #be751a #a56616;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .6) inset;
    background: linear-gradient(to bottom, #f6c88f, #ed9220);

    &:hover {
      background: linear-gradient(to bottom, #f6c88f, #e38512);
    }
}

.cdata > table.table-gearlist {
  @apply text-black;

  & th, & td {
    @apply p-3px;
    border-top-width: 0;
  }

  & thead th {
    border-bottom-width: 0;
  }

  & th.text-right {
    text-align: right;
  }

  & th.border-t, & td.border-t {
    border-top-width: 1px;
  }

  & thead th.border-b {
    border-bottom-width: 1px;
  }

}

@screen sm {
  .card {
    flex: 0 1 calc(33% - 1em);
    @apply rounded shadow-lg;
  }

  .cdata > table.table-gearlist {
    @apply text-sm;
  }
}
